---
layout: layout-pane.njk
title: User needs
section: Get started
theme: Designing for users
order: 1
description: The DVSA has a lot of different services, and therefore a lot of different users. we created our core user groups to help us ensure we test with all type of users when building our services. It also shows visitors of the DVSA design system the depth of user testing we have for particular components and patterns with these user groups.
---

## Core user groups

Our core user groups contain 5 categories. These categories are Digital capability, Accessibility, Language and context, Location and task complexity. Each category has sub categories for specific user needs.

### Digital capability

We are using the great research done by GOV.UK on the [digital inclusion scale](https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy#a-digital-inclusion-scale-for-individuals) to help us ensure we test our components and patterns with users at different points across the level of digital capability and learn from them.

Using the [digital inclusion scale](https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy#a-digital-inclusion-scale-for-individuals) we have created a questionnaire to help us understand where an individual may be on the digital inclusion scale.

<img src="/images/digital_inclusion_scale.png" alt="An image showing a flow chart of questions to help us understand where an individual may be on the digital inclusion scale">


### Accessibility

We have based our user groups in this core user group on the great work done at the Home Office on [designing accessible services](https://ukhomeoffice.github.io/accessibility-posters/). The guidance covers best design practices for users from these areas: low vision, D/deaf and hard of hearing, dyslexia, motor disabilities, users on the autistic spectrum and users of screen readers.

Find out more about:

- [designing for users with anxiety](https://ukhomeoffice.github.io/accessibility-posters/anxiety)
- [designing for users on the autistic spectrum](https://ukhomeoffice.github.io/accessibility-posters/autism)
- [designing for users who are deaf or hard of hearing](https://ukhomeoffice.github.io/accessibility-posters/deaf)
- [designing for users with dyslexia](https://ukhomeoffice.github.io/accessibility-posters/dyslexia)
- [designing for users with physical or motor disabilities](https://ukhomeoffice.github.io/accessibility-posters/physical)
- [designing for users of screenreaders](https://ukhomeoffice.github.io/accessibility-posters/screenreaders)



### Language and context

This core user group is for understanding the context in which the user has visited a design, pattern or component.

#### Public facing

This user group is dedicated to users who are visiting a service as part of the public.

#### Internal facing

This user group is dedicated to users who may be interacting with a design, component or pattern as part of an internal system. For example, this could be a caseworker reviewing applications from a service with a component in.







### Location

This core user group is for understanding what device a user has used when interacting with a design, component or pattern.

#### Tested on mobile

This user group is dedicated to testing with users who are visiting a service on mobile.

#### Tested on desktop

This user group is dedicated to testing with users who are visiting a service on desktop.





### Task complexity

This core user group is for understanding how complicated a page is when a user has interacted with a design, component or pattern.

#### Single component page journey

This user group is dedicated to testing with users who have visited a single design, component or pattern on a page.

#### Multiple component page journey

This user group is dedicated to testing with users who have visited a page with multiple components or patterns on a page.
