{% extends "../../layouts/guidance.html" %}

{% set sectionId = "styles" %}
{% set pageTitle = "Web Styles" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <div class="app-prose-scope">

    <h1 id="styles">Web Styles</h1>
    <p>There is currently no unique DVSA web styling. Our styling is dependant on the <a target="_blank" href="https://design-system.service.gov.uk/styles/">GDS design system</a>. We also have styles for DVSA apps.</p>

  </div>

{% endblock %}
