---
layout: layout-pane.njk
title: Our writing principles
section: Content
theme: Clearly DVSA
order: 1
description: Content patterns
---

<p class="govuk-body">The Driver and Vehicle Standards Agency (DVSA) runs a campaign to help its colleagues write clearly. It’s called Clearly DVSA.</p>
<p class="govuk-body">Clearly DVSA helps you make your writing clear, useful and trusted.</p>
<h2 id="clear">Clear</h2>
<p class="govuk-body">Simple, short and structured. Our writing is jargon-free and makes sense.</p>
<p class="govuk-body">This means that we:</p>
<ul>
<li>use plain English</li>
<li>use short sentences and paragraphs</li>
<li>structure content with regular subheadings</li>
<li>use lists</li>
<li>research and use the words our users use, rather than using technical language</li>
</ul>
<h2 id="useful">Useful</h2>
<p class="govuk-body">Get straight to the point. Our writing tells people what they need to know and do.</p>
<p class="govuk-body">This means that we:</p>
<ul>
<li>focus on user needs</li>
<li>help people find information and services easily</li>
<li>publish only what someone needs to complete their task</li>
<li>write so that people can get to the answer, whether they’re reading a webpage, using a search engine or asking a smart speaker</li>
</ul>
<h2 id="trusted">Trusted</h2>
<p class="govuk-body">Honest and confident. Our writing is free of errors, does not hide anything, and helps people stay safe.</p>
<p class="govuk-body">This means that we:</p>
<ul>
<li>do not write in a way that hides anything</li>
<li>make sure what write is not inaccurate or misleading</li>
<li>check the spelling and grammar are right</li>
<li>always remember that our content is used by people who need to do the legal and safe thing</li>
</ul>
<h2 id="how-to-make-your-writing-clear-useful-and-trusted">How to make your writing clear, useful and trusted</h2>
<p class="govuk-body">To make sure your writing is clear, useful and trusted:</p>
<ul>
<li>follow the guidance about writing for GOV.UK</li>
<li>follow the style points in the DVSA style guide</li>
<li>involve a content designer early in the process</li>
</ul>
<h2 id="resources">Resources</h2>
<ul>
  <li><a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">Writing for GOV.UK</a></li>
  <li><a href="https://www.gov.uk/guidance/style-guide">Government style guide</a></li>
  <li><a href="https://www.theguardian.com/guardian-observer-style-guide-a">Guardian and Observer style guide</a></li>
  <li><a href="/content/a-to-z/">DVSA style guide</a></li>
  <li><a href="https://readabilityguidelines.co.uk/">Readability Guidelines</a></li>
  <li><a href="http://www.plainenglish.co.uk/the-a-z-of-alternative-words.html">Plain English Campaign A to Z of alternative words</a></li>
</ul>
