---
title: Contribution criteria
description: To help ensure that the contents of the GOV.UK Design System are of a high quality and meet user needs, all components and patterns must meet the following criteria
section: Community
layout: layout-pane.njk
order: 6
---

<p class="govuk-body">The DVSA follows the <a target="_blank" href="https://design-system.service.gov.uk/community/contribution-criteria/">GOV.UK Design System contribution criteria</a>. The only difference is that contributions will be reviewed by the DVSA’s <a href="/community/design-system-working-group/">Design System Working Group</a>.</p>
<p class="govuk-body">The contents of the Design System must be of a high quality and meet user needs. To guarantee this, all components and patterns need to meet certain criteria.</p>
<p class="govuk-body">We are currently trying to gather all known unique components or patterns used across DVSA to help us be more collaborative when we are building our sevices.</p>
