{% extends "../../layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageId = "propose-a-component-or-pattern" %}
{% set pageTitle = "Propose a component or pattern
" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Community</span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    <p>Anyone can propose a new component or pattern for the DVSA Design System.</p>
    <p>To be successful, proposals need to show that the component or pattern being suggested would be <a href="/community/contribution-criteria/">useful and unique</a>.</p>
    <p>Follow 3 steps to propose a component or pattern for the Design System.</p>

    <h2 id="1-check-the-community-backlog">1. Check the community backlog</h2>
    <p>Check if someone else has already suggested your idea or something similar on the <a href="https://github.com/dvsa/dvsa-design-system/projects/1">community backlog</a>.</p>
    <p>If your idea is on the backlog and marked as ‘proposed’, follow the link and comment on the issue. Say you need the component or pattern and share any examples or evidence you have to support the proposal.</p>
    <p>If it’s marked ‘to do’ and you would like to work on it, read how to <a href="/community/develop-a-component-or-pattern/">develop a component or pattern</a>.</p>

    <h2 id="2-raise-an-issue">2. Raise an issue</h2>
    <p>If your idea is not on the backlog, <a href="#">raise an issue</a>. A member of the Design System team will get in touch to discuss your proposal.</p>
    <p>At this stage, you just need to present your idea and evidence of the user needs. You can include screenshots or links to versions of the component or pattern in use, but avoid spending time working on a specific design or writing code.</p>

    <h2 id="3-send-your-proposal-for-review">3. Send your proposal for review</h2>
    <p>The Design System team will help you prepare your proposal and share it with the <a href="/community/design-system-working-group">Design System working group</a> to review. </p>
    <p>When your proposal is ready, the Design System team will send it to the working group one week before their next monthly meeting. </p>
    <p>At the meeting, the working group will review your proposal and decide if it is useful and unique. This review helps people avoid spending time and effort on something that’s not needed for the design system.</p>
    <p>After the meeting, the Design System team will let you know the decision and recommendations, if there are any. </p>
    <p>If the working group agrees your proposal is useful and unique, the working group will mark it as ‘to do’ on the <a href="https://github.com/dvsa/dvsa-design-system/projects/1">community backlog</a>.</p>
    <p>At this point, you can either start to develop the component or pattern or leave it for someone else to work on.</p>
  </div>



{% endblock %}
