---
layout: layout-pane.njk
title: Principles
description: Whilst everything we do is based on the Government Design Principles, the DVSA design system was set up to help teams across DVSA find, discuss and share research and detail about reusable styles, patterns and components.
show_subnav: true
---

<p class="govuk-body">
  Whilst everything we do is based on the Government Design Principles, the DVSA design system was set up to help teams across DVSA find, discuss and share research and detail about reusable styles, patterns and components. This will enable us to develop accessible, consistent services for DVSA’s users.
</p>
<p class="govuk-body">
  Our Design system working group identified 6 principles that will ensure we meet this goal. These principles are:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="proof-of-value/">proof of value</a></li>
  <li><a href="working-together/">working together</a></li>
  <li><a href="maintenance/">maintenance</a></li>
  <li><a href="inclusivity/">inclusivity</a></li>
  <li><a href="practice-and-progress/">practice and progress</a></li>
  <li><a href="open-source/">open source</a></li>
</ul>
