---
layout: layout-pane.njk
title: Maintenance
section: Get started
theme: Principles
order: 3
description: We want the Design system to be open to challenge, so we can always ensure we our working as efficiently as possible.
---

<p class="govuk-body">We want the Design system to be open to challenge, so we can always ensure we our working as efficiently as possible.</p>
<p class="govuk-body">We also want the design system to be easy to update, so we can check changes in the Design System before before pushing changes to our service.</p>
