---
layout: layout-pane.njk
title: Working together
section: Get started
theme: Principles
order: 2
description: We want anyone to be able to contribute to the design system, regardless of my discipline or team, so we can be confident we have a possible solutions that suits everyone.
---

<p class="govuk-body">We want anyone to be able to contribute to the design system, regardless of my discipline or team, so we can be confident we have a possible solutions that suits everyone.</p>
<p class="govuk-body">We also want the design system to be clear on where our services DO and DON’T align, so we can be more realistic on how we set it up and work going forwards.</p>
