{%- set fileEditURL = "https://forms.office.com/Pages/ResponsePage.aspx?id=J7hVpE8kl0y1tM5dE7TQDPD3nEj9BlhDt0B0AIMsAuBURVkyRUNIQzQ3QjAwQ1pDREpZUlpCVzlINC4u" -%}
{% if section === 'Components' or section === 'Patterns'%}
  <h2 class="govuk-heading-l govuk-!-padding-top-7" id="help-improve-this-page">Help improve this page</h2>

      <p class="govuk-body">
        If you spot a problem with this guidance you can
        <a class="govuk-link app-contact-panel__link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=J7hVpE8kl0y1tM5dE7TQDPD3nEj9BlhDt0B0AIMsAuBURVkyRUNIQzQ3QjAwQ1pDREpZUlpCVzlINC4u">propose a change</a>.
      </p>

{% endif %}

<div class="app-contact-panel">
  <h2 class="app-contact-panel__heading">Got a question?</h2>
  <p class="govuk-body app-panel__body govuk-!-margin-bottom-5">If you're interested in learning more about a component or pattern, or have any questions, then you can submit your interest using our <a class="app-panel__link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=J7hVpE8kl0y1tM5dE7TQDPD3nEj9BlhDt0B0AIMsAuBURVkyRUNIQzQ3QjAwQ1pDREpZUlpCVzlINC4u">DVSA design system support form</a> and the team will get back to you.</p>
</div>
