---
title: Propose a component or pattern
description: Find out how to propose a new component or pattern for the GOV.UK Design System
section: Community
layout: layout-pane.njk
order: 4
---

<p class="govuk-body">Anyone can propose a new component or pattern for the DVSA Design System.</p>
<p class="govuk-body">To be successful, proposals need to show that the component or pattern being suggested would be <a href="/community/contribution-criteria/">useful and unique</a>.</p>
<p class="govuk-body">We are currently in the early stages of understanding the unique components and patterns used across DVSA services. If you know of any unique components that are being used in DVSA services then reach out using our <a class="app-panel__link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=J7hVpE8kl0y1tM5dE7TQDPD3nEj9BlhDt0B0AIMsAuBURVkyRUNIQzQ3QjAwQ1pDREpZUlpCVzlINC4u">DVSA design system support form</a>.</p>
