{% extends "../../layouts/guidance.html" %}

{% set sectionId = "taxonomies" %}
{% set sectionTitle = "Taxonomies" %}
{% set pageId = "book" %}
{% set pageTitle = "Book something" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">{{ sectionTitle }} </span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">

    <p>This page shows all known patterns and components used in the '{{ pageTitle }}' taxonomy.</p>

    <h2 id="components">Components</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3>Numberplate display component</h3>
        <img src="/public/images/components/numberplate.png" style="max-width:200px;">
        <p>Use the numberplate display component to help users identify a vehicle.</p>
        <p>
          <a class="govuk-link" href="components/numberplate">
            View numberplate display component
          </a>
        </p>
      </div>

      <div class="govuk-grid-column-one-half">

      </div>
    </div>

    <h2 id="patterns">Patterns</h2>

    <p>No patterns currently.</p>


  </div>

{% endblock %}
