{% extends "../../layouts/guidance.html" %}

{% set sectionId = "get-started" %}
{% set sectionTitle = "How we work" %}
{% set pageId = "submissions" %}
{% set pageTitle = "How to submit a component" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ sectionTitle | default('Get started') }} </span>
    {{ pageTitle }}
  </h1>

  <div class="app-prose-scope">

    <p>In order to submit a component to the design system, the component must go through a series of checks to ensure we consider things such as accessibility. All existing or live components that have not been checked across DVSA should be added to the backlog.</p>
    <p><strong>Do I need this new custom component?</strong></p>
    <p>Before designing any new components or patterns, always refer to the GDS design system for guidance on how you could solve a design problem. If you cannot find a solution from GDS, only then should a custom component be considered.</p>
    <p><strong>Quality gates</strong></p>
    <p>To ensure all new components match the standard that GDS have set, we have put together 'quality gates' as a way to test components, these are:</p>
    <ul>
      <li>Does your component meet the WCAG 2 AA accessibility standards?</li>
      <li>Has your component been user tested?</li>
      <li>Has the markup of the component been reviewed?</li>
      <li>Has the CSS and styling of the component been reviewed?</li>
    </ul>
    <p>As the crossover between some quality gates are clear, it is important to ask each one individually. A component that has great feedback from user testing may not be accessible, therefore it's important to not overlook these steps.</p>
    <p><strong>Design system component flow</strong></p>
    <p>Each component should go through a similar flow to the graphic, being tested for 'quality gates'. Once each component has passed all quality gates, we can prepare them for the design system.</p>

    <img src="/public/images/qualitygates.jpg" alt="A component being tested with quality gates infographic" width="100%">

  </div>

{% endblock %}
