/* ==========================================================================
   #HEADER
   ========================================================================== */

.app-header {
  background-color: govuk-colour("black");
  color: govuk-colour("white");
  padding: govuk-spacing(2) 0;
}

.app-header__underline{
  height: 10px;
  background: #006c56; /* Old browsers */
  background: -moz-linear-gradient(left, #006c56 0%, #f6772c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #006c56 0%,#f6772c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #006c56 0%,#f6772c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006c56', endColorstr='#f6772c',GradientType=1 ); /* IE6-9 */
}

.app-header__link {
  color: govuk-colour("white");
  display: inline-block;
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }

  &:focus {
    color: govuk-colour("black");
  }

}

.app-header__logotype-crest {
  fill: currentColor;
  height: 45px;
  margin-right: govuk-spacing(2);
  vertical-align: middle;
  width: 50px;
}

.app-header__logotype-text {
  @include govuk-font($size: 24, $weight: bold);
  vertical-align: middle;
}

.app-header__title {
  @include govuk-font($size: 24);
  vertical-align: middle;
  margin-left: govuk-spacing(2);
}
