{% extends "../../layouts/guidance.html" %}

{% set sectionId = "components" %}
{% set sectionTitle = "Components" %}
{% set pageId = "numberplate" %}
{% set pageTitle = "Numberplate display" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ sectionTitle | default('Styles') }} </span> {{ pageTitle }}
  </h1>

  <div class="app-prose-scope">

    <p>Use the Numberplate display component to show the numberplate of a vehicle.</p>

    <img src="/public/images/components/numberplate.png" style="max-width:400px;"  alt="An image showing the numberplate component in use on an app">

    <!--
    <div class="app-example">

      <span class="app-example__new-window">
        <a href="/components/emailreplay/examples/default/index.html" target="_blank">Open this example in a new window</a>
      </span>

      <iframe class="app-example__frame" scrolling="auto" frameborder="0" height="400" src="/components/emailreplay/examples/default"></iframe>

    </div>
    -->


<h2 class="govuk-!-margin-top-5" id="when-to-use-this-component">When to use this component</h2>
<p>Use this component when it is important for the user to enter the correct email address.</p>

<h2 id="when-not-to-use-this-component">When not to use this component</h2>
<p>Do not use this component to repeat other inputs, such as entering a first name, as the email address error functionality will not work.</p>

<h2 id="how-it-works">How it works</h2>
<p>As the user enters their email address it will be repeated to them in the inset text component.</p>
<p>This is to aid the user in entering the correct address, by giving them an opportunity to notice errors in what they have typed.</p>
<p>The component also detects if the user may have typed something wrong, by cross checking what they have entered with common mistakes via AJAX.</p>
<p>If the component does detect a possible error, it will show an error message to the user with what is typed currently and a suggestion.</p>

<h2 id="research-on-this-component">Research on this component</h2>
<p>We have tested this component with 4 out of 5 of our <a href="/get-started/common-user-needs#core-user-groups">core user groups</a> for assessment of quality which you can view in the tables in this section. If you have used this component, get in touch to share your research findings.</p>

<!--

<strong class="govuk-tag govuk-tag--grey">
  Not tested
</strong>

<strong class="govuk-tag govuk-tag--blue">
  Testing soon
</strong>

<strong class="govuk-tag govuk-tag--green">
  Passed testing
</strong>

<strong class="govuk-tag govuk-tag--red">
  Failed test
</strong>

 -->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Digital capability </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        -5 on digital inclusion scale
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        +5 on digital inclusion scale
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed testing
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Accessibility </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Physical access needs
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Cognitive access needs
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Language and content </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Public
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed testing
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Internal/Trade
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Location </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Tested on the move (mobile)
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          Testing soon
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Fixed/stationary access (desktop)
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed testing
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Task complexity </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Single component page journey
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed test
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Multiple component page journey
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<h2 id="research-on-this-component">Taxonomies</h2>
<p>Use the taxonomy list to see what journeys this component is used in across DVSA.</p>
<!--
<p>
  <a href="/taxonomies/check/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--green">
      Check something
    </strong>
  </a>
  <a href="/taxonomies/register/">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--turquoise">
      Register for something
    </strong>
  </a>
  <a href="/taxonomies/tell/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--blue">
      Tell something
    </strong>
  </a>
  <a href="/taxonomies/request/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--purple">
      Request something
    </strong>
  </a>
  <a href="/taxonomies/apply/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--pink">
      Apply for something
    </strong>
  </a>
  <a href="/taxonomies/book/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--red">
      Book something
    </strong>
  </a>
  <a href="/taxonomies/learn/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--orange">
      Learn something
    </strong>
  </a>
  <a href="/taxonomies/pay/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--yellow">
      Pay for something
    </strong>
  </a>
</p>
-->

<p>

  <a href="/taxonomies/apply/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--pink">
      Apply for something
    </strong>
  </a>

</p>

<h2 id="research-on-this-component">Services using this component</h2>

<p class="govuk-body">This component was used:</p>

<ul class="govuk-list">
  <li>
    <b>1 time</b> in the Emergency driving test service.
  </li>
</ul>

<p class="govuk-body">This component is used:</p>

<ul class="govuk-list">
  <li>
    <b>1 time</b> in the Apply to be temporarily recognised as a transport manager for vans service.
  </li>
</ul>

  </div>

{% endblock %}
