---
layout: layout-pane.njk
title: Get started
description: The following introductory guides will help you to get set up
show_subnav: true
---

<p class="govuk-body">The DVSA Design System is an extension of the GOV.UK Design System. And has been designed to work along side it. The DVSA Design System contains styles, components and patterns that are:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>not yet in the GOV.UK Design System</li>
  <li>unique to DVSA services</li>
</ul>

<p class="govuk-body">Therefore you should reference the GOV.UK Design System first. And only use this if you can’t find what you need.</p>
