---
layout: layout-pane.njk
title: Accessibility testing
section: Get started
theme: Designing for users
order: 2
description: This page explains the current DVSA approach to testing your serivces.
---

## Accessibility testing tools

The DVSA approved tool to use for browser testing is the [WAVE Web Accessibility Evaluation Tool](https://wave.webaim.org/extension/). The WAVE Chrome, Firefox, and Edge extensions allows you to evaluate web content for accessibility issues directly within your browser.

## Accessibility working group

There is a DVSA accessibility network of colleagues across DVSA who meet regularly to share advice, progress on service and useful resources for testing. If you would like to join this group, get in touch using the [DVSA design system support form](https://forms.office.com/Pages/ResponsePage.aspx?id=J7hVpE8kl0y1tM5dE7TQDPD3nEj9BlhDt0B0AIMsAuBURVkyRUNIQzQ3QjAwQ1pDREpZUlpCVzlINC4u) and a member of the support team will get in touch.


## Useful resources

Here is a list of useful resources for accessibility testing.

1. The DWP have a great [accessibility manual](https://accessibility-manual.dwp.gov.uk/) sharing guidance and best practice
