---
layout: layout-pane.njk
title: Pay for something
section: Taxonomies
theme: Taxonomies
order: 1
description: All known patterns and components used in the 'Pay for something' taxonomy.
---

This page shows all known patterns and components used in the 'Pay for something' taxonomy.


## Components

No components currently.

## Patterns

No patterns currently.
