{% extends "../../layouts/guidance.html" %}

{% set sectionId = "taxonomies" %}
{% set sectionTitle = "Taxonomies" %}
{% set pageId = "pay" %}
{% set pageTitle = "Pay for something" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">{{ sectionTitle }} </span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">

    <p>This page shows all known patterns and components used in the '{{ pageTitle }}' taxonomy.</p>

    <h2 id="components">Components</h2>

    <p>No patterns currently.</p>

    <h2 id="patterns">Patterns</h2>

    <p>No patterns currently.</p>


  </div>

{% endblock %}
