{% extends "../../layouts/guidance.html" %}

{% set sectionId = "components" %}
{% set sectionTitle = "Components" %}
{% set pageId = "autocomplete" %}
{% set pageTitle = "Autocomplete" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ sectionTitle | default('Styles') }} </span> {{ pageTitle }}
  </h1>

  <div class="app-prose-scope">

    <p>Use the autocomplete component to help users select an option from a large select list.</p>

    <div class="app-example">

      <span class="app-example__new-window">
        <a href="/components/autocomplete/examples/default/index.html" target="_blank">Open this example in a new window</a>
      </span>

      <iframe class="app-example__frame" scrolling="auto" frameborder="0" height="400" src="/components/autocomplete/examples/default"></iframe>

    </div>

    <div class="app-tabs">

      <ul class="app-tabs__list" role="tablist">
        <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab" href="#html-default-" role="tab" id="tab_html-default-" aria-controls="html-default-" aria-selected="false">HTML</a></li>
        <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab" href="#javascript-" role="tab" id="tab_javascript-" aria-controls="javascript-" aria-selected="false">Javascript</a></li>
      </ul>

      <div class="app-tabs__panel" id="html-default-" data-module="app-copy" role="tabpanel" aria-labelledby="tab_html-default-">
        <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

        <pre><code>

  &lt;div class=&quot;govuk-form-group&quot;&gt;
    &lt;label class=&quot;govuk-label&quot; for=&quot;email&quot;&gt;
      Your email address
    &lt;/label&gt;
    &lt;span id=&quot;hint&quot; class=&quot;govuk-hint&quot;&gt;
      We&rsquo;ll only use this to contact you about your acquired rights application.
    &lt;/span&gt;
    &lt;input data-url=&quot;number&quot; aria-describedby=&quot;hint&quot; class=&quot;govuk-input govuk-!-width-two-thirds input-data-form&quot; id=&quot;email&quot; name=&quot;email&quot; type=&quot;text&quot; maxlength=&quot;265&quot;&gt;
  &lt;/div&gt;

  &lt;div class=&quot;govuk-inset-text&quot; style=&quot;overflow:hidden;&quot;&gt;
    &lt;span class=&quot;govuk-hint govuk-!-margin-bottom-0&quot;&gt;
      An email will be sent to:
    &lt;/span&gt;
    &lt;span class=&quot;govuk-body-l&quot; id=&quot;email-show&quot;&gt;&lt;/span&gt;
  &lt;/div&gt;

        </code></pre>

      </div>


      <div class="app-tabs__panel" id="javascript-" data-module="app-copy" role="tabpanel" aria-labelledby="tab_javascript-"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

      <pre><code class="hljs">



      </code></pre>

      </div>


    </div>

<h2 id="when-to-use-this-component">When to use this component</h2>
<p>Use this component as an alternative to the select component when the user has to choose from a large list of options.</p>

<h2 id="when-not-to-use-this-component">When not to use this component</h2>
<p>
  Before using the autocomplete component, try asking users questions which will allow you to present them with fewer options.
</p>
<p>
  Asking questions means you’re less likely to need to use the autocomplete component, and can consider using a different solution, such as radios.
</p>

<h2 id="how-it-works">How it works</h2>
<p>As the user types, the list of options will be reduced depending on what they type.</p>
<p>For example, if the user types 'AL' when using this component to select a list of American states, it would present Alabama and Alaska in the dropdown.</p>

<h2 id="research-on-this-component">Research on this component</h2>
<p>We have tested this component with 4 out of 5 of our <a href="/get-started/common-user-needs#core-user-groups">core user groups</a> for assessment of quality which you can view in the tables in this section. If you have used this component, get in touch to share your research findings.</p>

<!--

<strong class="govuk-tag govuk-tag--grey">
  Not tested
</strong>

<strong class="govuk-tag govuk-tag--blue">
  Testing soon
</strong>

<strong class="govuk-tag govuk-tag--green">
  Passed testing
</strong>

<strong class="govuk-tag govuk-tag--red">
  Failed test
</strong>

 -->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Digital capability </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        -5 on digital inclusion scale
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        +5 on digital inclusion scale
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed testing
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Accessibility </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Physical access needs
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Cognitive access needs
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Language and content </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Public
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed testing
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Internal/Trade
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Location </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Tested on the move (mobile)
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          Testing soon
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Fixed/stationary access (desktop)
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed testing
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Task complexity </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Single component page journey
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed test
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Multiple component page journey
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<h2 id="research-on-this-component">Taxonomies</h2>
<p>Use the taxonomy list to see what journeys this component is used in across DVSA.</p>
<!--
<p>
  <a href="/taxonomies/check/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--green">
      Check something
    </strong>
  </a>
  <a href="/taxonomies/register/">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--turquoise">
      Register for something
    </strong>
  </a>
  <a href="/taxonomies/tell/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--blue">
      Tell something
    </strong>
  </a>
  <a href="/taxonomies/request/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--purple">
      Request something
    </strong>
  </a>
  <a href="/taxonomies/apply/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--pink">
      Apply for something
    </strong>
  </a>
  <a href="/taxonomies/book/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--red">
      Book something
    </strong>
  </a>
  <a href="/taxonomies/learn/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--orange">
      Learn something
    </strong>
  </a>
  <a href="/taxonomies/pay/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--yellow">
      Pay for something
    </strong>
  </a>
</p>
-->

<p>

  <a href="/taxonomies/apply/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--pink">
      Apply for something
    </strong>
  </a>

</p>

<h2 id="research-on-this-component">Services using this component</h2>

<p class="govuk-body">This component was used:</p>

<ul class="govuk-list">
  <li>
    <b>1 time</b> in the Emergency driving test service.
  </li>
</ul>

<p class="govuk-body">This component is used:</p>

<ul class="govuk-list">
  <li>
    <b>1 time</b> in the Apply to be temporarily recognised as a transport manager for vans service.
  </li>
</ul>

  </div>

{% endblock %}
