---
layout: layout-pane.njk
title: Styles
description: Make your service look and feel like DVSA services
show_subnav: true
---

<p class="govuk-body">Here you can find styles used across DVSA. Our styling is dependant on the <a target="_blank" href="https://design-system.service.gov.uk/styles/">GDS design system</a>. We also have styles for DVSA apps.</p>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Web styles</h3>
    <p>View styles used across DVSA web journeys.</p>
    <p><a class="app-link govuk-!-font-weight-bold" href="web/">Browse web styles</a></p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">App styles</h3>
    <p>View styles used across DVSA app journeys.</p>
    <p><a class="app-link govuk-!-font-weight-bold" href="app/">Browse app styles</a></p>
  </div>

</div>
