{% extends "../../layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageId = "contribution-criteria" %}
{% set pageTitle = "Contribution criteria" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Community</span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    <p>The DVSA follows the <a target="_blank" href="https://design-system.service.gov.uk/community/contribution-criteria/">GOV.UK Design System contribution criteria</a>. The only difference is that contributions will be reviewed by the DVSA’s <a href="/community/design-system-working-group/">Design System Working Group</a>.</p>
    <p>The contents of the Design System must be of a high quality and meet user needs. To guarantee this, all components and patterns need to meet certain criteria.</p>
    <p>We are currently trying to gather all known unique components or patterns used across DVSA to help us be more collaborative when we are building our sevices.</p>




  </div>



{% endblock %}
