{% extends "../../layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageId = "contribution-criteria" %}
{% set pageTitle = "Contribution criteria" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Community</span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    <p>The DVSA follows the <a target="_blank" href="https://design-system.service.gov.uk/community/contribution-criteria/">GOV.UK Design System contribution criteria</a>. The only difference is that contributions will be reviewed by the DVSA’s <a href="/community/design-system-working-group/">Design System Working Group</a>.</p>
    <p>The contents of the Design System must be of a high quality and meet user needs. To guarantee this, all components and patterns need to meet certain criteria.</p>
    <h2 id="new-proposals">DVSA design system contribution criteria</h2>
    <p>As a working group, we have put together a quality gate that is used to decide if a component is ready to be published in the DVSA design system, these are organised into the following checklists:</p>
    <ul>
      <li><strong>fundamental</strong> – a component or pattern must meet this criteria before being published in the DVSA design system</li>
      <li><strong>recommended</strong> – we would prefer to proceed with these but they are not vital to a component or pattern being published</li>
    </ul>

    <h3 id="fundamental">Fundamental criteria</h3>



  </div>



{% endblock %}
