---
layout: layout-pane.njk
title: Taxonomies
description: Find components and patterns that are useful to you based on the type of journey.
show_subnav: true
---

<p class="govuk-body">
  Find components and patterns that are useful to you based on the type of journey.
</p>

<p lass="govuk-body">The current recognised taxonomies are:</p>

<p lass="govuk-body">
  <a href="check/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--green">
      Check something
    </strong>
  </a>
  <a href="register/">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--turquoise">
      Register for something
    </strong>
  </a>
  <a href="tell/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--blue">
      Tell something
    </strong>
  </a>
  <a href="request/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--purple">
      Request something
    </strong>
  </a>
  <a href="apply/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--pink">
      Apply for something
    </strong>
  </a>
  <a href="book/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--red">
      Book something
    </strong>
  </a>
  <a href="learn/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--orange">
      Learn something
    </strong>
  </a>
  <a href="pay/" style="text-decoration: none;">
    <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--yellow">
      Pay for something
    </strong>
  </a>
</p>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Check something</h3>
    <p class="govuk-body">View components and patterns that are used in the 'check something' taxonomy.</p>
    <p class="govuk-body"><a class="app-link govuk-!-font-weight-bold" href="check/">Browse check something taxonomy</a></p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Register for something</h3>
    <p class="govuk-body">View components and patterns that are used in the 'register for something' taxonomy.</p>
    <p class="govuk-body"><a class="app-link govuk-!-font-weight-bold" href="register/">Browse register for something taxonomy</a></p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Tell something</h3>
    <p class="govuk-body">View components and patterns that are used in the 'tell something' taxonomy.</p>
    <p class="govuk-body"><a class="app-link govuk-!-font-weight-bold" href="tell/">Browse tell something taxonomy</a></p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Request something</h3>
    <p class="govuk-body">View components and patterns that are used in the r'equest something' taxonomy.</p>
    <p class="govuk-body"><a class="app-link govuk-!-font-weight-bold" href="request/">Browse request something taxonomy</a></p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Apply for something</h3>
    <p class="govuk-body">View components and patterns that are used in the 'apply for something' taxonomy.</p>
    <p class="govuk-body"><a class="app-link govuk-!-font-weight-bold" href="apply/">Browse apply for something taxonomy</a></p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Book something</h3>
    <p class="govuk-body">View components and patterns that are used in the 'book something' taxonomy.</p>
    <p class="govuk-body"><a class="app-link govuk-!-font-weight-bold" href="book/">Browse book something taxonomy</a></p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Pay for something</h3>
    <p class="govuk-body">View components and patterns that are used in the 'pay for something' taxonomy.</p>
    <p class="govuk-body"><a class="app-link govuk-!-font-weight-bold" href="pay/">Browse pay for something taxonomy</a></p>
  </div>

</div>
