
<div class="govuk-form-group">
  <label class="govuk-label" for="email">
    Your email address
  </label>
  <span id="hint" class="govuk-hint">
    We’ll only use this to contact you about your acquired rights application.
  </span>
  <input data-url="number" aria-describedby="hint" class="govuk-input govuk-!-width-two-thirds input-data-form" id="email" name="email" type="text" maxlength="265">
</div>

<div class="govuk-inset-text" style="overflow:hidden;">
  <span class="govuk-hint govuk-!-margin-bottom-0">
    An email will be sent to:
  </span>
  <span class="govuk-body-l" id="email-show"></span>
</div>
