---
layout: layout-pane.njk
title: DVSA A to Z
section: Content
theme: DVSA style
order: 2
description: Content patterns
---

<p class="govuk-body">The DVSA style guide covers style, spelling and grammar conventions that are not covered in the <a href="https://www.gov.uk/guidance/style-guide">government style guide</a> or <a href="https://www.theguardian.com/guardian-observer-style-guide-a">Guardian and Observer style guide</a>, arranged alphabetically.</p>
<h2 id="a">A</h2>
<h3 id="annual-test">annual test</h3>
<p class="govuk-body">Lowercase. </p>
<p class="govuk-body">Avoid using. Write ‘MOT for an HGV, bus or trailer’ instead.</p>
<p class="govuk-body">When it’s essential to include it for search, write ‘MOT (annual test)’.</p>
<h3 id="approved-driving-instructor-adi">approved driving instructor (ADI)</h3>
<p class="govuk-body">Lowercase.  </p>
<p class="govuk-body">Only use when writing for people becoming an ADI or who are already an ADI.  </p>
<p class="govuk-body">When writing for learner drivers and the public, use ‘driving instructor’ in full each time instead. </p>
<h3 id="authorised-testing-facility-atf">authorised testing facility (ATF)</h3>
<p class="govuk-body">Lowercase. </p>
<p class="govuk-body">Avoid using. Write ‘MOT centre for HGVs, buses and trailers’ instead</p>
<h2 id="b">B</h2>
<h2 id="c">C</h2>
<h3 id="compulsory-basic-training-cbt">compulsory basic training (CBT)</h3>
<p class="govuk-body">Lowercase.  </p>
<p class="govuk-body">Write ‘moped or motorcycle compulsory basic training (CBT)’ at first use, and then ‘CBT’. </p>
<h3 id="continuing-professional-development-cpd">continuing professional development (CPD)</h3>
<p class="govuk-body">Lowercase.  </p>
<h3 id="customer-service-centre">customer service centre</h3>
<p class="govuk-body">Lowercase. Never abbreviate to CSC. Do not use ‘call centre’ or ‘contact centre’. </p>
<h2 id="d">D</h2>
<h3 id="driver-cpc">Driver CPC</h3>
<p class="govuk-body">In titles, you can use ‘Driver CPC’. At the first mention in the summary or body, write ‘Driver Certificate of Professional Competence (CPC)’ in full.  </p>
<p class="govuk-body">When describing it for the first time (including in titles), say ‘Driver CPC for lorry, bus and coach drivers’. </p>
<p class="govuk-body">Never abbreviate to DCPC. </p>
<h3 id="driver-cpc-card">Driver CPC card</h3>
<p class="govuk-body">At first use write ‘Driver CPC card (sometimes called a ‘driver qualification card’ or ‘DQC’)’. Then use ‘Driver CPC card’.  </p>
