{% extends "../layouts/guidance.html" %}

{% set sectionId = "styles" %}
{% set pageTitle = "Styles" %}

{% block subNav %}
{% include "./navigation.html" %}
{% endblock %}

{% block pageContent %}
  <div class="app-prose-scope">

    <h1 id="styles">Styles</h1>
    <p>Make your service look and feel like DVSA.</p>
    <p>Currently there is no additional styling in the DVSA design system. Our styling is dependant on the <a target="_blank" href="https://design-system.service.gov.uk/styles/">GDS design system</a>.</p>

  </div>
{% endblock %}
