{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'No Web styles'
    }
  }]
}) }}


{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'App styles'
    },
    items: [{
      text: 'Colour',
      href: '/styles/app/colour',
      selected: pageId == 'Colour'
    },
    {
      text: 'Images',
      href: '/styles/app/images',
      selected: pageId == 'Images'
    },
    {
      text: 'Layout',
      href: '/styles/app/layout',
      selected: pageId == 'Layout'
    },
    {
      text: 'Page template',
      href: '/styles/app/page-template',
      selected: pageId == 'Page template'
    },
    {
      text: 'Spacing',
      href: '/styles/app/spacing',
      selected: pageId == 'Spacing'
    },
    {
      text: 'Typography',
      href: '/styles/app/typography',
      selected: pageId == 'Typography'
    }
    ]
  }]
}) }}
