---
layout: layout-pane.njk
title: Inclusivity
section: Get started
theme: Principles
order: 4
description: e want the design system to not just be about code, but to include processes, methods and accessibility standards to ensure it provides an example of how we work end to end within a service.
---

<p class="govuk-body">We want the design system to not just be about code, but to include processes, methods and accessibility standards to ensure it provides an example of how we work end to end within a service.</p>
