{% extends "../../layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set sectionTitle = "Community" %}
{% set pageId = "design-system-working-group" %}
{% set pageTitle = "Design system working group" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">{{ sectionTitle }}</span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    <p>The Design System Working Group is a multidisciplinary panel of representatives from across the DVSA. It makes sure that all components and patterns published in the Design System are of a high quality and meet user needs.</p>
    <p>The working group:</p>
    <ul>
    <li>reviews proposals and contributions against the <a href="/community/contribution-criteria/">contribution criteria</a></li>
    <li>makes recommendations to help contributors improve their work</li>
    <li>advocates for the needs of colleagues across the DVSA</li>
    </ul>
    <h2 id="why-the-working-group-exists">Why the working group exists</h2>
    <p>By including representatives from a mixture of disciplines and departments, the working group helps to ensure that the Design System represents its users.</p>
    <p>It means that decisions made are fair and unbiased, and that the Design System reflects the experiences of the whole of DVSA, not just one agency or service team.</p>
    <h2 id="how-to-join-the-working-group">How to join the working group</h2>
    <p>The DVSA Design System team is looking into the best way of helping people to join the working group.</p>
    <p>In the meantime if you are interested in joining the working group email the Design System team at <a href="mailto:design-system@dvsa.gov.uk">design-system@dvsa.gov.uk</a>.</p>
    <hr>
  </div>

{% endblock %}
