{% extends "../../layouts/guidance.html" %}

{% set sectionId = "taxonomies" %}
{% set sectionTitle = "Taxonomies" %}
{% set pageId = "apply" %}
{% set pageTitle = "Apply for something" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">{{ sectionTitle }} </span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">

    <p>This page shows all known patterns and components used in the '{{ pageTitle }}' taxonomy.</p>

    <h2 id="components">Components</h2>

    <p>All components currently in the DVSA design system that are used in this taxonomy.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3>Email replay component</h3>
        <img src="/public/images/components/emailreplay.gif">
        <p>Use the email replay component to replay the email users enter in the input field.</p>
        <p>
          <a class="govuk-link" href="components/emailreplay">
            View email replay component
          </a>
        </p>
      </div>

      <div class="govuk-grid-column-one-half">

      </div>
    </div>

    <h2 id="patterns">Patterns</h2>
    <p>No patterns currently.</p>


  </div>

{% endblock %}
