{% extends "layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageTitle = "Community" %}

{% block subNav %}
{% include "./navigation.html" %}
{% endblock %}

{% block pageContent %}
  <div class="app-prose-scope">

    <h1 id="community">Community</h1>
    <p>The DVSA Design System is for everyone. It includes the latest research, design and development to represent and be relevant for its users.</p>
    <p>Find out:</p>
    <ul>
    <li>how to <a href="/community/propose-a-component-or-pattern/">propose a component or pattern</a><!-- - how to [develop a component or pattern](/community/develop-a-component-or-pattern) --></li>
    <li>what people are currently working on in the <a href="/community/backlog/">community backlog</a></li>
    </ul>
    
  </div>
{% endblock %}
