

{{ appSubNavigation({
  sections: [{
    heading: {
      text: 'Principles'
    },
    items: [{
      text: 'Proof of value',
      href: '/principles/value',
      selected: pageId == 'value'
    },
    {
      text: 'Working together',
      href: '/principles/working-together',
      selected: pageId == 'working-together'
    },
    {
      text: 'Maintenance',
      href: '/principles/maintenance',
      selected: pageId == 'maintenance'
    },
    {
      text: 'Inclusivity',
      href: '/principles/inclusivity',
      selected: pageId == 'inclusivity'
    },
    {
      text: 'Practice and progress',
      href: '/principles/practice-and-progress',
      selected: pageId == 'practice-and-progress'
    },
    {
      text: 'Open source',
      href: '/principles/open-source',
      selected: pageId == 'open-source'
    }]
  }]
}) }}
