---
layout: layout-pane.njk
title: Content
description: Use this style guide to make sure your content gives a clear, useful and trusted experience for people using Driver and Vehicle Standards Agency (DVSA) services.
show_subnav: true
---

<p class="govuk-body">Use this style guide to make sure your content gives a clear, useful and trusted experience for people using Driver and Vehicle Standards Agency (DVSA) services.</p>
<p class="govuk-body">It covers:</p>
<ul>
  <li>the principles for clear, useful and trusted writing</li>
  <li>terms and phrases used by DVSA</li>
  <li>how the DVSA style guide is managed</li>
</ul>
<p class="govuk-body">It’s based on user research and and testing.</p>
<p class="govuk-body">Combine this style guide with the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a> when designing DVSA digital content.</p>
<h2 id="content-patterns">Content patterns</h2>
<p class="govuk-body">Common content patterns are shown in the <a href="content-patterns/">patterns section</a>.</p>
