---
layout: layout-pane.njk
title: Components
description: Components are reusable parts of the user interface that have been made to support a variety of applications
show_subnav: true
---

Components are reusable parts of the user interface that have been made to support a variety of applications.

Individual components can be used in multiple different <a href="../patterns/">patterns</a> and contexts.

If you want to see what components are currently being worked on then you can request access to our backlog by getting in touch.

{% include "_contact-panel.njk" %}
