{% extends "../../layouts/guidance.html" %}

{% set sectionId = "taxonomies" %}
{% set sectionTitle = "Taxonomies" %}
{% set pageId = "apply-for-something" %}
{% set pageTitle = "Apply for something" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">{{ sectionTitle }} </span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>

{% endblock %}
