---
layout: layout-pane.njk
title: Practice and progress
section: Get started
theme: Principles
order: 5
description: We want the design system to be a reliable resource anyone can use with confidence.
---

<p class="govuk-body">We want the design system to be a reliable resource anyone can use with confidence. We want users to be able to see evidence of research enabling them to be confident the component has been tested.</p>
<p class="govuk-body">We also want the design system to be part of all service workflows so we can all contribute and build one resource of truth. Having it in our workflow will also ensure we take advantage of it as a resource and increase efficiency.</p>
