{% extends "../../layouts/guidance.html" %}

{% set sectionId = "components" %}
{% set sectionTitle = "Components" %}
{% set pageId = "email-replay" %}
{% set pageTitle = "Email replay" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ sectionTitle | default('Styles') }} </span> {{ pageTitle }} 
  </h1>

  <div class="app-prose-scope">

    <p>Use the external link style to show when a link is going to an external URL.</p>


    <div class="app-example">

      <span class="app-example__new-window">
        <a href="/styles/externallink/examples/default" target="_blank">Open this example in a new window</a>
      </span>

      <iframe class="app-example__frame" scrolling="auto" frameborder="0" height="100" src="/components/externallink/examples/default"></iframe>

    </div>

    <div class="app-tabs">

      <ul class="app-tabs__list" role="tablist">
        <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab" href="#html-default-" role="tab" id="tab_html-default-" aria-controls="html-default-" aria-selected="false">HTML</a></li>
        <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab" href="#css-" role="tab" id="tab_css-" aria-controls="css-" aria-selected="false">CSS</a></li>
        <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab" href="#scss-" role="tab" id="tab_scss-" aria-controls="scss-" aria-selected="false">SCSS</a></li>
      </ul>

<div class="app-tabs__panel" id="html-default-" data-module="app-copy" role="tabpanel" aria-labelledby="tab_html-default-"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

<pre><code>

&#x3C;a class=&#x22;external-link&#x22; title=&#x22;&#x22; href=&#x22;#&#x22; target=&#x22;_blank&#x22;&#x3E;
  &#x3C;span class=&#x22;external-link__assistive&#x22;&#x3E;External link&#x3C;/span&#x3E;
  Find out more about operator licence laws
&#x3C;/a&#x3E;

</code></pre>
</div>


<div class="app-tabs__panel" id="css-" data-module="app-copy" role="tabpanel" aria-labelledby="tab_css-"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

<pre><code class="hljs">

.external-link{
  display: inline-block;
  background-image: url(&#x22;/public/images/selfserve-external-link.svg&#x22;);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  padding-right: 17px;
}
.external-link__assistive {
  display: none;
}

</code></pre>

</div>



<div class="app-tabs__panel" id="scss-" data-module="app-copy" role="tabpanel" aria-labelledby="tab_scss-"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

<pre><code class="hljs">

.external-link{

  display: inline-block;
  background-image:url(&#x27;/public/images/selfserve-external-link.svg&#x27;);
  background-size: 12px;
  background-repeat:no-repeat;
  background-position: right center;
  display: inline-block;
  padding-right: 17px;

  &#x26;__assistive{
    display: none;
  }

}

</code></pre>

</div>

    </div>

<h2 id="when-to-use-this-component">When to use this component</h2>
<p>Use this component when the user needs to be aware that the link will be going to an external URL.</p>

<h2 id="when-not-to-use-this-component">When not to use this component</h2>
<p>Do not use this component when the link does not take the user to an external URL.</p>

<h2 id="how-it-works">How it works</h2>
<p>To show visually that a url is external, apply the class: <code>.external-link</code> to make the external icon appear.</p>
<p>The icon is applied via css and does not require any additional HTML. Ensure the background image URL is correct otherwise the svg icon will not appear.</p>
<p>There is also hidden assistive text to tell screenreaders this is an external link as the icon will no be visible.</p>

<h2 id="research-on-this-component">Research on this component</h2>
<p>We have tested this component with 4 out of 5 of our <a href="/get-started/common-user-needs#coregroups">core user groups</a> for assessment of quality which you can view in the tables in this section. If you have used the external link component, get in touch to share your research findings.</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Digital capability </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <5 on digital inclusion scale
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed testing
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        >5 on digital inclusion scale
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed testing
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Accessibility </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Physical access needs
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          Testing soon
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Cognitive access needs
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Language and content </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Public
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          Testing soon
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Internal/Trade
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          Testing soon
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Location </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Tested on the move (mobile)
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Fixed/stationary access (desktop)
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Not tested
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Task complexity </th>
      <th class="govuk-table__header govuk-!-width-one-half" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Single component page journey
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Passed test
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Multiple component page journey
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          Failed test
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<h2 id="research-on-this-component">Taxonomies</h2>
<p>Use the taxonomy list to see what journeys this component is used in across DVSA.</p>
<p class="govuk-!-margin-bottom-7">
  <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--green">
    Check something
  </strong>
  <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--turquoise">
    Register for something
  </strong>
  <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--blue">
    Tell something
  </strong>
</p>


<h2 id="research-on-this-component">Services using this component</h2>

<p class="govuk-body">This component is used:</p>

<ul class="govuk-list">
  <li>
    <b>41 times</b> in the Vehicle Operator Licencing (VOL) service.
  </li>
</ul>

  </div>

{% endblock %}
