{% extends "../../layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageId = "backlog" %}
{% set pageTitle = "Backlog" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Community</span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    <p>The Design System is built upon the research and experience of teams across the DVSA.</p>
    <p>Anyone can propose, develop or contribute to new patterns and components, or improvements to existing ones.</p>
    <p>There is a private community backlog that contains a list of components, patterns and updates currently used across DVSA. They can be:</p>
    <ul>
    <li><strong>Proposed</strong> – someone has suggested a new component or pattern</li>
    <li><strong>To do</strong> – the proposed component or pattern has been agreed and is ready to work on</li>
    <li><strong>In progress</strong> – someone is actively working on the component or pattern</li>
    </ul>
    <p>If you want to discuss the existing styles, components and patterns in the DVSA Design System, or ones being developed, reach out to our DVSA design system team using the <a class="app-panel__link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=J7hVpE8kl0y1tM5dE7TQDPD3nEj9BlhDt0B0AIMsAuBURVkyRUNIQzQ3QjAwQ1pDREpZUlpCVzlINC4u">DVSA design system support form</a>. </p>

  </div>



{% endblock %}
