{% extends "../../layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageId = "backlog" %}
{% set pageTitle = "Backlog" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Community</span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    <p>The Design System is built upon the research and experience of teams across the DVSA.</p>
    <p>Anyone can propose, develop or contribute to new patterns and components, or improvements to existing ones.</p>
    <p>The <a href="https://github.com/dvsa/dvsa-design-system/projects/1">community backlog</a> contains a list of components, patterns and updates. They can be:</p>
    <ul>
    <li><strong>Proposed</strong> – someone has suggested a new component or pattern</li>
    <li><strong>To do</strong> – the proposed component or pattern has been agreed and is ready to work on</li>
    <li><strong>In progress</strong> – someone is actively working on the component or pattern</li>
    </ul>
    <p>You can discuss the existing styles, components and patterns in the Design System, or ones being developed, by commenting on issues in the <a href="https://github.com/dvsa/dvsa-design-system/projects/1">community backlog</a>. </p>

    ((on the GDS DS it looks like things are pulled in here automatically, can we do that?))

  </div>



{% endblock %}
