---
title: Home
description: Design your service using DVSA styles, components and patterns
masthead: true
---

{% include "_masthead.njk" %}

<div class="app-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-weight-bold">Explore DVSA Taxonomies</h2>
        <p class="govuk-body">Explore how journeys are designed across DVSA, such as applying for something or booking something.</p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="/taxonomies/" class="govuk-link govuk-!-font-weight-bold">Browse taxonomies</a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Explore DVSA Components</h2>
        <p class="govuk-body">Save time with reusable, accessible components for forms, navigation, panels, tables and&nbsp;more.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/" class="govuk-link govuk-!-font-weight-bold">Browse components</a></p>
      </div>
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Explore DVSA Patterns</h2>
        <p class="govuk-body">Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/patterns/" class="govuk-link govuk-!-font-weight-bold">Browse patterns</a></p>
      </div>

    </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
        </div>

        <div class="govuk-grid-column-full govuk-!-margin-bottom-2">
          <h2 class="govuk-heading-l">Resources and advice</h2>
        </div>

      </div>
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Accessibility testing</h3>
          <p class="govuk-body">Find advice and useful tools used across DVSA, such as user personas and browser plugins.</p>
          <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="/get-started/accessibility-testing/">Browse accessibility testing</a></p>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Content</h3>
          <p class="govuk-body">Ensure your content creates a clear and consistent experience for people using DVSA digital services.</p>
          <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="/styles/">Browse content</a></p>
        </div>

      </div>

    </div>
  </div>
