{% extends "../layouts/guidance.html" %}

{% set sectionId = "taxonomies" %}
{% set pageTitle = "Taxonomies" %}

{% block subNav %}
{% include "./navigation.html" %}
{% endblock %}

{% block pageContent %}
  <div class="app-prose-scope">

    <h1 id="taxonomies">Taxonomies</h1>
    <p>Find components and patterns that are useful to you based on the type of journey.</p>
    <p>The current recognised taxonomies are:</p>
    <p>
      <a href="/taxonomies/check/" style="text-decoration: none;">
        <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--green">
          Check something
        </strong>
      </a>
      <a href="/taxonomies/check/">
        <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--turquoise">
          Register for something
        </strong>
      </a>
      <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--blue">
        Tell something
      </strong>
      <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--purple">
        Request something
      </strong>
      <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--pink">
        Apply for something
      </strong>
      <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--red">
        Book something
      </strong>
      <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--orange">
        Learn something
      </strong>
      <strong class="govuk-tag govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-tag--yellow">
        Pay for something
      </strong>
    </p>

  </div>

  <div class="govuk-width-container">

    <div class="app-main-wrapper govuk-main-wrapper govuk-main-wrapper--l">


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Check something</h3>
          <p>View components and patterns that are used in the check something taxonomy.</p>
          <p><a class="app-link govuk-!-font-weight-bold" href="/taxonomies/check/">Browse check something taxonomy</a></p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Register for something</h3>
          <p>View components and patterns that are used in the register for something taxonomy.</p>
          <p><a class="app-link govuk-!-font-weight-bold" href="/taxonomies/register/">Browse register for something taxonomy</a></p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Tell something</h3>
          <p>View components and patterns that are used in the tell something taxonomy.</p>
          <p><a class="app-link govuk-!-font-weight-bold" href="/taxonomies/tell/">Browse tell something taxonomy</a></p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Request something</h3>
          <p>View components and patterns that are used in the request something taxonomy.</p>
          <p><a class="app-link govuk-!-font-weight-bold" href="/taxonomies/request">Browse request something taxonomy</a></p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Apply for something</h3>
          <p>View components and patterns that are used in the apply for something taxonomy.</p>
          <p><a class="app-link govuk-!-font-weight-bold" href="/taxonomies">Browse apply for something taxonomy</a></p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Book something</h3>
          <p>View components and patterns that are used in the book something taxonomy.</p>
          <p><a class="app-link govuk-!-font-weight-bold" href="/taxonomies">Browse book something taxonomy</a></p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-m">Pay for something</h3>
          <p>View components and patterns that are used in the pay for something taxonomy.</p>
          <p><a class="app-link govuk-!-font-weight-bold" href="/taxonomies">Browse pay for something taxonomy</a></p>
        </div>

      </div>


    </div>

  </div>
{% endblock %}
