{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'Taxonomies'
    },
    items: [{
      text: 'Check something',
      href: '/taxonomies/check',
      selected: pageId == 'check'
    },
    {
      text: 'Register for something',
      href: '/taxonomies/register',
      selected: pageId == 'register'
    },
    {
      text: 'Tell something',
      href: '/taxonomies/tell',
      selected: pageId == 'tell'
    },
    {
      text: 'Request something',
      href: '/taxonomies/request',
      selected: pageId == 'request'
    },
    {
      text: 'Apply for something',
      href: '/taxonomies/apply',
      selected: pageId == 'apply'
    },
    {
      text: 'Book something',
      href: '/taxonomies/book',
      selected: pageId == 'book'
    },
    {
      text: 'Learn something',
      href: '/taxonomies/learn',
      selected: pageId == 'learn'
    },
    {
      text: 'Pay for something',
      href: '/taxonomies/pay',
      selected: pageId == 'pay'
    }
    ]
  }]
}) }}
