---
title: Design System working group
description: The GOV.UK Design System working group is a multidisciplinary, cross-government group whose purpose is to ensure that components and patterns published in the GOV.UK Design System are of a high quality and meet user needs
section: Community
layout: layout-pane.njk
order: 7
---

<p class="govuk-body">The Design System Working Group is a multidisciplinary panel of representatives from across the DVSA. It makes sure that all components and patterns published in the Design System are of a high quality and meet user needs.</p>
<p class="govuk-body">The working group:</p>
<ul>
<li>reviews proposals and contributions against the <a href="/community/contribution-criteria/">contribution criteria</a></li>
<li>makes recommendations to help contributors improve their work</li>
<li>advocates for the needs of colleagues across the DVSA</li>
</ul>
<h2 id="why-the-working-group-exists">Why the working group exists</h2>
<p class="govuk-body">By including representatives from a mixture of disciplines and departments, the working group helps to ensure that the Design System represents its users.</p>
<p class="govuk-body">It means that decisions made are fair and unbiased, and that the Design System reflects the experiences of the whole of DVSA, not just one agency or service team.</p>
<h2 id="how-to-join-the-working-group">How to join the working group</h2>
<p class="govuk-body">The DVSA Design System team is looking into the best way of helping people to join the working group.</p>
<p class="govuk-body">In the meantime if you are interested in joining the working group use our <a class="app-panel__link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=J7hVpE8kl0y1tM5dE7TQDPD3nEj9BlhDt0B0AIMsAuBURVkyRUNIQzQ3QjAwQ1pDREpZUlpCVzlINC4u">DVSA design system support form</a> to get in touch.</p>
