
<div class="app-panel">
  <h2 class="app-panel__heading">Get in touch</h2>
  <p class="app-panel__body govuk-!-margin-bottom-5">If you're interested in learning more about a component or pattern, or have any questions, then you can submit your interest using our <a class="app-panel__link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=J7hVpE8kl0y1tM5dE7TQDPD3nEj9BlhDt0B0AIMsAuBURVkyRUNIQzQ3QjAwQ1pDREpZUlpCVzlINC4u">DVSA design system support form</a> and the team will get back to you.</p>
</div>
