---
layout: layout-pane.njk
title: Proof of value
section: Get started
theme: Principles
order: 1
description: As a working group, we want to be able to show the value of the design system to others so they can see its value and will give ongoing support for its use and development.
---

<p class="govuk-body">As a working group, we want to be able to show the value of the design system to others so they can see its value and will give ongoing support for its use and development.</p>
<p class="govuk-body">We are currently working on a system that will determine value via:</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>recording the use of components and patterns across service taxonomies</li>
  <li>recording the use of components and patterns across pages</li>
  <li>recording the testing of known components</li>
  <li>predicting the time spent to build the component without a design system</li>
</ul>

<p class="govuk-body">This will enable us to demonstrate how much value this component or pattern could be for other services.</p>
