{{ appSubNavigation({
  sections: [{
    heading: {
      text: 'Clearly DVSA principles'
    },
    items: [{
      text: 'Clear',
      href: '/content/clear',
      selected: pageId == 'clear'
    },
    {
      text: 'Useful',
      href: '/content/useful',
      selected: pageId == 'useful'
    },
    {
      text: 'Trusted',
      href: '/content/trusted',
      selected: pageId == 'trusted'
    }]
  }
  ]
}) }}

{{ appSubNavigation({
  sections: [{
    heading: {
      text: 'DVSA style'
    },
    items: [{
      text: 'DVSA A to Z',
      href: '/content/dvsa-a-z',
      selected: pageId == 'DVSA A to Z'
    }]
  }
  ]
}) }}
