{{ appSubNavigation({
  sections: [{
    heading: {
      text: 'Clearly DVSA'
    },
    items: [{
      text: 'Our writing principles',
      href: '/content/principles',
      selected: pageId == 'principles'
    }]
  }
  ]
}) }}

{{ appSubNavigation({
  sections: [{
    heading: {
      text: 'DVSA style'
    },
    items: [{
      text: 'DVSA A to Z',
      href: '/content/dvsa-a-z',
      selected: pageId == 'dvsa-a-z'
    },
    {
      text: 'Content patterns',
      href: '/content/patterns',
      selected: pageId == 'patterns'
    },
    {
      text: 'How the style guide is managed',
      href: '/content/managed',
      selected: pageId == 'managed'
    }
    ]
  }
  ]
}) }}
